@media (max-width: 768px) {
	/********Header***********/

	.inner-wrapper {margin-top: 70px;}
	.main-header .navbar.navbar-default {height: 70px;}
	.main-header .navbar.navbar-default .navbar-header {margin: 0;}
	.main-header .navbar.navbar-default .navbar-toggle {margin-top: 18px; background-color: #de4858; border-color: #de4858;}
	.main-header .navbar.navbar-default .navbar-toggle:focus , .main-header .navbar-toggle:hover {background-color: #de4858; border-color: #de4858;}
	.main-header .navbar.navbar-default .navbar-toggle .icon-bar {background-color: #fff;}
	.main-header .navbar-collapse {box-shadow: 0px 1px 13px 4px #eee; height: auto; margin-top: 10px;}
	.main-header .navbar-collapse .nav.navbar-nav .dropdown .dropdown-menu {width: 100%;}

	/*********/

	/***********Inner Container************/

	.content-wrapper {padding: 20px 15px;}
	.main-header .navbar-collapse .nav.navbar-nav {margin: 12px 0;}

	/**********/
}