body, *{
	margin: 0px;
	padding:0px;
	font-family: 'Roboto', sans-serif;
	/*background: #fff;*/
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/

/*********************Header**************************/

.main-header .navbar .navbar-brand img {width: 140px; }
.main-header .navbar.navbar-default {height: 80px; margin-bottom: 0px; border: none; width: 100%; background: #fff; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); z-index: 9; }
.main-header .navbar.navbar-default .navbar-header {margin: 5px 35px 10px; }
.main-header .navbar-collapse {height: 80px; }
.main-header .navbar-collapse .nav.navbar-nav {margin: 17px; }
.main-header .navbar-collapse .nav.navbar-nav .dropdown a.dropdown-toggle {line-height: 23px; color: #df3542; min-width: 153px; height: 43px; transition: box-shadow 0.1s ease, width 0.1s ease; border: 1px solid #eee!important; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important; padding: 10px; }
.main-header .navbar-collapse .nav.navbar-nav .dropdown {font-family: 'Lato'}
.main-header .navbar-collapse .nav.navbar-nav .dropdown .caret {float: right; margin-top: 10px; }
.main-header .navbar-collapse .nav.navbar-nav .dropdown .dropdown-menu {padding: 0; border: none; margin-top: 0px; min-width: auto; width: 152px; }
.main-header .navbar-collapse .nav.navbar-nav .dropdown .dropdown-menu li {height: 40px; border-bottom: 1px solid #e6e6e6; }
.main-header .navbar-collapse .nav.navbar-nav .dropdown .dropdown-menu li:last-child {border-bottom: none; }
.main-header .navbar-collapse .nav.navbar-nav .dropdown .dropdown-menu li a {height: 40px; line-height: 33px; padding: 3px 15px;     color: #666;
    font-weight: 400;}
.main-header .navbar-collapse .nav.navbar-nav .dropdown .dropdown-menu li a:hover {background-color: #f3f3f3; }
.main-header .navbar-default .navbar-nav>.open>a,
.main-header .navbar-default .navbar-nav>.open>a:focus, 
.main-header .navbar-default .navbar-nav>.open>a:hover {background: #fff;}

/*************************/

/*******************************************/

.inner-wrapper {background: #f4f4f4; margin-top: 80px;}
.content-wrapper {background: #f4f4f4; height: calc(100vh - 130px); overflow-y: auto; padding: 20px 5%; }

/*************Select ATS********************/

.content-heading {font-size: 17px; font-weight: 500; font-family: Lato; font-style: italic; margin: 7px 0 28px; color: #363636;}
.import-content {background: #fff; padding: 20px;}
.innerContent {max-width: 700px; margin: 35px auto 0; }
.innerHeading {text-align: center; font-size: 15px; margin: 0 0 15px; font-weight: 600; color: #444; line-height: 23px; }
.import-content .heading {font-size: 20px; font-weight: 400; color: #5d5f5e; padding: 0; text-align: center; }
.innerContent .form-control {height: 40px; border-radius: 0; max-width: 440px; margin: 0 auto; border: 1px solid #bebebe; background: url(../../images/spirits-1.png);
    background-position: 400px -209px;}
.ATS-logo {text-align: center; margin: 55px auto 22px; display: flex;}
.ATS-link {font-weight: 600; text-align: center;}
.ATS-logo ul {padding: 0; display: flex; margin: 0 auto; }
.ATS-logo ul li {flex-direction: row; flex-wrap: nowrap; margin: 0 15px; }
.ATS-logo ul li span {display: block;}
.footerBar{position: relative; z-index: 0; background-color: #fff; box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1); padding: 7px 0px 7px 0px; margin-bottom: 50px; text-align: center; }
.footerBar .back-button {margin: 0 10px; min-width: 176px; background: #dcdcdc; height: 40px; font-family: Gotham; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: 1px; text-align: center; padding: 10px 15px; border: none; text-transform: capitalize; }
.footerBar .next-button {margin: 0 10px; color: #fff; min-width: 176px; background: #df3542; height: 40px; font-family: Gotham; font-size: 12px; font-weight: bold; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: 1px; text-align: center; padding: 10px 15px; border: none; text-transform: capitalize; }
.logo-image {background: url(../../images/spirits-1.png); background-position: 500px 100px;}


/************************/

/***********************/

/***********footer*************/

footer {background: #de4858; height: 50px;}

/**********/