<header class="main-header">
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <!-- <i class="fas fa-sign-out-alt"></i> -->
	        <a class="navbar-brand">
	        	<img alt="LexInsight" class="img-responsive" src="images/logo_main.png">
	        </a>
	    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">John Wick  <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">IMPORT RESUMES</a></li>
	            <li><a href="#">SETTINGS</a></li>
	            <li><a href="#">SIGNOUT</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</header>


<div class="content-wrapper">
	<!-- Details Box Start -->

	<h3 class="content-heading">Hi ...........</h3>

	<div class="import-resume">
        <div class="import-content">
            <div class="heading">Choose your ATS </div>
            <div class="innerContent">
                <h4 class="innerHeading">Let us setup Lexinsight for you. <br/> Choose your ATS below to import Positions and Resumes.</h4>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Start Typing to filter">
                </div>
                <div class="ATS-logo">
                    <ul>
                        <li>
                            <img src="../images/ATS-image1.png"/>
                            <span>Job vite</span>
                        </li>
                        <li>
                            <img src="../images/ATS-image2.png"/>
                            <span>Job vite</span>
                        </li>
                        <li>
                            <img src="../images/ATS-image3.png"/>
                            <span>Job vite</span>
                        </li>
                    </ul>
                </div>
                <div class="ATS-link"><a>I don't want to use an ATS.</a></div>
            </div>
        </div>
	</div>

	<!-- Details Box End -->
</div>


<footer>
	<div class="footer"></div>
</footer>


