<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="main.home.client">
                <img alt="LexInsight" class="lex-logo" src="images/logo_main.png">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>
        <div class="collapse navbar-collapse">
            <div class="nav-wrapper">
                <button type="button" ui-sref="main.home.attorney" class="lex-btn lex-btn-primary lex-home-top-btn navbar-btn navbar-right">FOR ATTORNEYS</button>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="main.about" ui-sref-active="active">ABOUT<span></span></a></li>
                     <li du-scrollspy="how-it-works" offset="70"><a>HOW IT WORKS<span></span></a></li>
                     <li du-scrollspy="how-it-works" offset="70"><a>HOW IT WORKS<span></span></a></li> 
                      <li du-scrollspy="how-it-works" offset="70" ><a>HOW IT WORKS<span></span></a></li>
                    <li du-scrollspy="blogs" offset="60"><a href="https://blog.lexinsight.com/">BLOG<span></span></a></li>
                    <li><a ui-sref-active="active">LOGIN<span></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>